# Fisierul constingerilor utilizator
# Compatibil cu placa Digilent Basys
# Este descrisa placa in intregime
# Pentru folosire se scot pinii FPGA SPARTAN 3E care nu se folosesc
# iar "NUME_SEMNAL" se inlocuieste cu numele semnalului din schema
# semnalul de ceas se numeste "CLOCK" si trebuie sa coincida cu
# numele semnalului de ceas din schema

# Intrarea de ceas (50 MHz)

#NET "clk" TNM_NET = CLOCK;
#TIMESPEC TS_CLOCK = PERIOD "CLOCK" 20 ns HIGH 50 %;
#NET "clk" LOC = P54;

# Iesiri pe LED

#NET "NUME_SEMNAL" LOC = P2;	# LD7
#NET "NUME_SEMNAL" LOC = P3;	# LD6
#NET "NUME_SEMNAL" LOC = P4;	# LD5
#NET "NUME_SEMNAL" LOC = P5;	# LD4
#NET "NUME_SEMNAL" LOC = P7;	# LD3
#NET "NUME_SEMNAL" LOC = P8;	# LD2
#NET "NUME_SEMNAL" LOC = P14;	# LD1
NET "Out0" LOC = P15;	# LD0

# Intrari Slide Switches (comutator intre valorile = "0" si "1")

#NET "NUME_SEMNAL" LOC = P6;	# SW7
#NET "NUME_SEMNAL" LOC = P10;	# SW6
#NET "NUME_SEMNAL" LOC = P12;	# SW5
#NET "NUME_SEMNAL" LOC = P18;	# SW4
#NET "NUME_SEMNAL" LOC = P24;	# SW3
#NET "NUME_SEMNAL" LOC = P29;	# SW2
NET "In1" LOC = P36;	# SW1
NET "In0" LOC = P38;	# SW0

# Intrari Push Buttons (butoane = neapasat = "0" si apasat = "1")

#NET "NUME_SEMNAL" LOC = P41;	# BTN3
#NET "NUME_SEMNAL" LOC = P47;	# BTN2
#NET "NUME_SEMNAL" LOC = P48;	# BTN1
#NET "NUME_SEMNAL" LOC = P69;	# BTN0

# 7seg Display

# iesiri comanda celula

#NET "NUME_SEMNAL" LOC = P26;	# AN3
#NET "NUME_SEMNAL" LOC = P32;	# AN2
#NET "NUME_SEMNAL" LOC = P33;	# AN1
#NET "NUME_SEMNAL" LOC = P34;	# AN0

# iesiri comanda segment

#NET "NUME_SEMNAL" LOC = P22;	# DP
#NET "NUME_SEMNAL" LOC = P83;	# CG
#NET "NUME_SEMNAL" LOC = P17;	# CF
#NET "NUME_SEMNAL" LOC = P20;	# CE
#NET "NUME_SEMNAL" LOC = P21;	# CD
#NET "NUME_SEMNAL" LOC = P23;	# CC
#NET "NUME_SEMNAL" LOC = P16;	# CB
#NET "NUME_SEMNAL" LOC = P25;	# CA

# PS/2 connector

#NET "NUME_SEMNAL" LOC = P96;	# iesire CLK
#NET "NUME_SEMNAL" LOC = P97;	# bidirectional DATA

# Iesiri VGA port

#NET "NUME_SEMNAL" LOC = P78;	# RED0
#NET "NUME_SEMNAL" LOC = P68;	# RED1
#NET "NUME_SEMNAL" LOC = P67;	# RED2
#NET "NUME_SEMNAL" LOC = P52;	# GRN0
#NET "NUME_SEMNAL" LOC = P51;	# GRN1
#NET "NUME_SEMNAL" LOC = P50;	# GRN2
#NET "NUME_SEMNAL" LOC = P44;	# BLUE0
#NET "NUME_SEMNAL" LOC = P43;	# BLUE1
#NET "NUME_SEMNAL" LOC = P39;	# HS
#NET "NUME_SEMNAL" LOC = P35;	# VS

# Expansion Connectors

# JA

#NET "NUME_SEMNAL" LOC = P81;	# 1 I/O pin
#NET "NUME_SEMNAL" LOC = P91;	# 2 I/O pin
#NET "NUME_SEMNAL" LOC = P82;	# 3 I/O pin
#NET "NUME_SEMNAL" LOC = P92;	# 4 I/O pin

# JB

#NET "NUME_SEMNAL" LOC = P87;	# 1 I/O pin
#NET "NUME_SEMNAL" LOC = P93;	# 2 I/O pin
#NET "NUME_SEMNAL" LOC = P88;	# 3 I/O pin
#NET "NUME_SEMNAL" LOC = P94;	# 4 I/O pin

# JC

#NET "NUME_SEMNAL" LOC = P77;	# 1 I/O pin
#NET "NUME_SEMNAL" LOC = P86;	# 2 I/O pin
#NET "NUME_SEMNAL" LOC = P76;	# 3 I/O pin
#NET "NUME_SEMNAL" LOC = P85;	# 4 I/O pin

# JD

#NET "NUME_SEMNAL" LOC = P75;	# 1 I/O pin
#NET "NUME_SEMNAL" LOC = P59;	# 2 I/O pin
#NET "NUME_SEMNAL" LOC = P74;	# 3 I/O pin
#NET "NUME_SEMNAL" LOC = P58;	# 4 I/O pin

# END